*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(90, 87, 87);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;

}
.item{
    margin-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    cursor: pointer;
    
}
.item:hover{
    color: blue;
    
}
.banner-img{
    width: 300px;
    display: flex
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: 2px solid tomato;
    background-image: url("/style/back3.jpg"),linear-gradient(45deg,#130b0b,#055805);
    background-size: cover;
    background-repeat: repeat;
}

.title{
    font-size: 55px;
    font-weight: bold;
}

.des{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    /* border-radius: 5px; */
    cursor: pointer;


}
.btn:hover{
    color: blue;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding-top: 20px;
}
.box{
    width: 250px;
    height: 400px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    padding: 15px;
    color: white;
    /* display: flex; */
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    text-align: center;
    /* margin: 10px; */
    
}

.box-tittle{
    padding: 10px;

}

.box-description{
    padding: 10px;
}

.service-continer{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    padding: 20px;
}
